@font-face {
    font-family: timerFont;
    src: url("fonts/CursedTimerULiL.ttf");
}

body {
    margin: 0;
    
    background: #1B244A;
    color: #EEEEEE;
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.team-name {
    margin-bottom: 21px;
}

.score {
    width: 155px;
    height: 120px;
    
    margin-bottom: 26px;
    margin-top: 21px;
    
    background: #080001;
    color: #F94F6D;
    
    border-radius: 5px;
    
    font-family: 'timerFont';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
}

.score-buttons {
    display: flex;
    justify-content: space-around;
}

.score-button {
    width: 45px;
    height: 45px;
    
    background: #1B244A;
    color: #9AABD8;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
    
    font-family: 'timerFont';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}